<!DOCTYPE html>
<html lang="en">

<head>
    <title>HBNB</title>
</head>

<body>
    <H1>States</H1>
    {% for state in states | sort(attribute="name")%}
    <UL>
        <LI>
            {{ state.id }}: <B>{{ state.name }}</B>
            {% for city in cities | sort(attribute="name") -%}
            {% if state.id == city.state_id %}
            <UL>
                <LI>
                    {{ city.id }}: <B>{{ city.name }}</B>
                </LI>
            </UL>
            {% endif %}
            {%- endfor %}
        </LI>
    </UL>
    {% endfor %}
</body>

</html>
